*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --Primary-Font: 'IBM Plex Mono', monospace;
  --Dark-Primary: #1F2937;
  --Mid-Gray: #D1D5DB;
  --Light-Gray:
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding: 84px 0 0 0;
}

body {
  margin: 0;
  font-family: var(--Primary-Font), sans-serif;
  height: 100%;
}

.wrapper {
  /* max-width: 1500px; */
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
}

main {
  flex-grow: 1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  font-family: var(--Primary-Font), sans-serif;
  text-decoration: none;
  color: black;
}

button {
  font-family: var(--Primary-Font), sans-serif;
  background: none;
  border: none;
}

.header-main {
  font-weight: bold;
  font-size: calc(2rem + 1vw);
  letter-spacing: 1.2px;
  /* line-height: 1.5; */
}

.sub-header {
  font-weight: normal;
  font-size: 1.8rem;
}

.section-header {
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 1.1px;
  /* line-height: 1.2; */
}

.header-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: white;
  position: sticky;
  z-index: 100000;
  top: 0;
  border-bottom: solid 1px #c9c9c9;
}

.header-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  padding: 2rem 2rem;
}

.header ul {
  display: flex;
  gap: 1.25rem;
}

.header a:hover {
  border-bottom: solid 1.5px var(--Dark-Primary);
}

#btn-hamburger {
  display: none;

}

.hamburger-btn-container {
  display: flex;
  align-items: center;
  display: block;
  cursor: pointer;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

#btn-hamburger.open .line:nth-child(2){
  transform: translateX(-25px);
  opacity: 0;
}

#btn-hamburger.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 5.5px)
}

#btn-hamburger.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5.5px, -1.5px);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-bottom: 6rem;
  max-width: 1200px;
  min-height: 80vh;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}

.img-mock {
  display: block;
  width: 250px;
  height: 250px;
  background: red;
  border-radius: 50%;
}

.hero-about-me-container {
  margin-top: 4rem;
}

.hero-about-me-container a {
  padding: 1rem 2rem;
  color: white;
  background: #1f2937;
  border-radius: 10px;
  transition: 0.2s;
}

.hero-about-me-container a:hover {
  background: white;
  color: black;
  outline: solid 2px black;
}

.hero-arrow-container {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem 0 1rem 5rem;
  margin-top: 5rem;
}

.arrow {
  display: block;
  position: relative;
  width: 7px;
  height: 50px;
  background-color: var(--Mid-Gray);
  transition: 0.2s;
  animation: bounce 4s infinite;
}

.arrow::before,
.arrow:after  {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  background: var(--Mid-Gray);
  width: 5px;
  height: 25px;
}

.arrow::before {
  transform: translate(-8px, 3px) rotate(-45deg);
}

.arrow::after {
    transform: translate(8px, 4px) rotate(45deg);
}

#header-main {
  animation: fade-in 750ms ease-out forwards;
}

#sub-header {
  animation: fade-in 750ms ease-out 1s backwards;
}

#hero-about {
  animation: fade-in 750ms ease-out 2s backwards;
}

#arrow-container {
  animation: fade-in 750ms ease-out 2.5s backwards;
}

#hero-right {
  animation: appear-in 500ms ease-in 3.5s backwards;
}

.about-me-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 1rem;
  min-height: 65vh;
}

.about-me-container p {
  line-height: 1.5;
  letter-spacing: 1.1px;
}

.resume-download-container {
  display: flex;
  justify-content: center;
}

.resume-download-container a {
    padding: 0.75rem 1.2rem;
    color: white;
    background: #1f2937;
    border-radius: 10px;
    transition: 0.2s;
}

.resume-download-container a:hover {
  background: white;
  color: black;
  outline: solid 2px black;
}


.skills-container-header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 3rem;
}

.skill {
  max-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.skill i {
  font-size: 5rem;
}

.skill span {
  font-size:  0.8rem;
}

.skill img {
  width: 100%;
}

.projects-container-full {
  width: 100%;
  background: var(--Mid-Gray);
  padding: 1.5rem 0 3.5rem 0;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.projects-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.project-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header-container-right {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
}

.project-header {
  margin: 0;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  max-width: 380px;
}

.project-img-container {
  position: relative;
  /* padding: 0.5rem;
  border: solid 3px var(--Dark-Primary); */
}

.project-img-container img {
  width: 100%;
}

.project-hover-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
  transition: height 0.25s ease;
}

.project-img-container:hover > .project-hover-container {
  height: 52.5%;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.75rem  1rem;
}

.project-info p {
  margin: 0;
  font-size: 0.8rem;
}

.project-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-more-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.projects-more-container a {
  padding: 1rem 2rem;
  color: white;
  background: #1f2937;
  border-radius: 10px;
  transition: 0.2s;
}

.projects-more-container a:hover {
  background: white;
  color: black;
  outline: solid 2px black;
}

.contact-container-full {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  background: white;
  padding: 2rem 1rem;
}

.contact-container {
  margin: 0 auto;
  max-width: 1200px;
}

.contact-container p {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
}

.contact-info-container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.contact-info-item {
  display: flex;
  align-self: flex-start;
  align-items: center;
}

.contact-info-item span {
  margin-right: 2rem;
}

.contact-info-item a {
  transition: 0.2s;
  padding: 0.5rem;
  border-radius: 8px;
}

.contact-info-item a:hover {
  background: var(--Dark-Primary);
  color: white;
}

.footer {
  text-align: center;
}

.project-link {
  font-size: 0.8rem;
  background: var(--Dark-Primary);
  color: white;
  text-align: center;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.project-link:hover {
  background: white;
  color: black;
  outline: solid 1px black;
}

.project-title {
  margin: 0;
}

.footer {
  width: 100%;
  border-top: solid 1px #c9c9c9;
}

.footer-content {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.hover-state {
  color: white;
}

.pullout-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: white;
  color: black;
  padding-top: 4rem;
  transition: width 0.2s linear;
  display: flex;
  flex-direction: column;
}

.side-nav-content {
  margin-top: 5rem;
  padding: 1rem 2rem;
  flex-grow: 1;
  position: relative;
}

.side-nav-content ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.side-nav-content ul li a {
  font-size: 1.5rem;
  transition: 0.1s;
}

.side-nav-content ul li a:hover {
  opacity: 0.65;
  border-bottom: solid 1px black;
}

.side-nav-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  text-align: center;
  width: 236px;
}

.toggle-width {
  width: 300px;
}

.body-toggle {
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to  {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-55px);
  }

  100%  {
    transform: translateY(0);
  }
}

/* Media Queries */

/* @media (hover: hover) {

  .project-img-container {
    width: 380px;
    height: 380px;
  }

  .no-hover {
    display: none;
  }

} */

@media (hover: none) {
  .project-hover-container {
    display: none;
  }
}

@media only screen and (max-width: 60em) {
  .hero-container {
    justify-content: center;
    margin: 2rem 0;
  }

  .hero-right {
    display: none;
    margin-top: 3rem;
    align-self: baseline;
  }
}

@media only screen and (max-width: 38em) {

  html {
    scroll-padding: 95px 0 0 0;
  }

  #btn-hamburger {
    display: block;
  }

  .header-content {
    padding: 2rem 1rem;
  }

  .footer-content {
    padding: 1rem 1rem;
  }

  .header-right nav  {
    display: none;
  }

  .hero-left {
    text-align: center;
  }

  .hero-arrow-container {
    justify-content: center;
    padding: 1rem;
  }

  .projects-grid {
    gap: 2.5rem;
  }

  .section-header {
    text-align: center;
  }

  .skills-container {
    gap: 2rem;
  }

  .skill i {
    font-size: 3rem;
  }

  .contact-container-full {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-info-item {
    align-self: flex-start;
    padding-left: 1.5rem;
  }


  .contact-info-item span {
    margin-right: 1rem;
  }
}

/* For Very Small Screen*/

@media only screen and (max-width: 28.125em) {

  .hero-about-me-container a {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }

  .about-me-container p {
    font-size: 0.85rem;
  }

  .skills-container {
    gap: 1.5rem;
  }

  .skill i {
    font-size: 2rem;
  }

  .contact-info-container {
    width: 100%;
    margin: 0 auto;
  }

  .contact-info-item {
    padding-left: 1rem;
  }

}

@media only screen and (max-width: 25em) {

  .contact-info-item span {
    margin-right: 0;
  }

}
